---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="v83CwshvswHAdCXIbl0xF3Bvxj5ZoaO8tzLCQ7uPmNg",
        oauth_signature="XgkjHWKB1UDZ%2BtVNlmRhkSJt2KY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787447", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4711
      Etag:
      - ! '"4f31c46c8465f1274b7e11456c3b46b2"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4711,"name":"table_1","schema":[["cartodb_id","number"],["field1","string"],["field2","number"],["field3","date"],["field4","boolean"],["updated_at","date"],["created_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:37:28 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="q5wUJSF0k7wIYTWfY2ivIEhZM1I2GMDYD4coN3PpK0",
        oauth_signature="lnik2RmcbfcBFqA3HAu3WiFtZ2E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787448", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 15:37:29
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 15:37:29 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.078,"total_rows":1,"rows":[{"id":1,"updated_at":"2012-05-23T17:37:29.024Z","created_at":"2012-05-23T17:37:29.024Z","cartodb_id":1,"field1":"lorem","field2":100.99,"field3":"2012-05-23","field4":true}]}'
  recorded_at: Wed, 23 May 2012 15:37:29 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="644z0oTDPbnelOLZCmFIT4YjP2zUP16g19zFGfMUIM",
        oauth_signature="2JJPJybwNyzxgoD3CZN7X%2BEkLXg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787449", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 15:37:29
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 15:37:29 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.072,"total_rows":1,"rows":[{"id":1,"updated_at":"2012-05-23T17:37:29.185Z","created_at":"2012-05-23T17:37:29.024Z","cartodb_id":1,"field1":"illum","field2":-83.24,"field3":"2012-05-24","field4":false}]}'
  recorded_at: Wed, 23 May 2012 15:37:29 GMT
recorded_with: VCR 2.1.1
