---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="V6kqyPTP97hRYNe7aVFFqKfn48XtDaP2Gc8i3JFqM",
        oauth_signature="D7os7ZX7YTS6dcw5sf8PNEO8yb8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787499", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4714
      Etag:
      - ! '"817b4d3a3273629aa0cfbcb216758de7"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4714,"name":"table_with_name","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:38:20 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/table_with_name?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="mQr3dy3SpXywaZrDVwwDbxniP13WJX7uy5aN7Y1IVs",
        oauth_signature="aYD58VgaPmLGg2L9KgbqMv9IEoU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787500", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"6c0ad00cb56dc7a5c65bbab80ba09425"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4714,"name":"table_with_name","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:38:20 GMT
recorded_with: VCR 2.1.1
