---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="Pwq7JLlrglNIgiOXbwFd8tZ7plzDu6ZgzlV8WYgnmY",
        oauth_signature="E%2BsLsYFrvMjA%2Fdsfsj1%2FZoj%2Fn70%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787434", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4710
      Etag:
      - ! '"bc44e7d855ed5764a781623239411f2d"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4710,"name":"table_1","schema":[["cartodb_id","number"],["field1","string"],["field2","number"],["field3","date"],["field4","boolean"],["updated_at","date"],["created_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:37:15 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="aT6XHY0PjGaZIX4P4l5PEwb2l7sHrzH1bLFekWtroSE",
        oauth_signature="%2FRcy2ERUxnqpYh8Ool98%2FkkYScY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787435", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 15:37:15
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 15:37:15 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.122,"total_rows":1,"rows":[{"id":1,"updated_at":"2012-05-23T17:37:15.897Z","created_at":"2012-05-23T17:37:15.897Z","cartodb_id":1,"field1":"lorem","field2":100.99,"field3":"2012-05-23","field4":true}]}'
  recorded_at: Wed, 23 May 2012 15:37:15 GMT
recorded_with: VCR 2.1.1
