---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="jHUsf5DB55PHFCNKaSKopnhbdypnCuqKnIEc1KDSC2A",
        oauth_signature="2UIcbYnf37Q3y1YF3jLH05ahP48%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787210", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4692
      Etag:
      - ! '"6fd47201727358f75a14683993f3395f"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4692,"name":"cartodb_spec","schema":[["cartodb_id","number"],["field1","string"],["field2","number"],["field3","date"],["field4","boolean"],["updated_at","date"],["created_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:33:31 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/cartodb_spec?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="1QQmy81v5BH7ECfCaSGDgE0oT1fEYldtPl8lME2jOWU",
        oauth_signature="RXblVAjBgJrF4UF90qsywqBks7s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787211", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"5f725fed30cc1c0e65b6e16a565e3366"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4692,"name":"cartodb_spec","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["field1","string"],["field2","number"],["field3","date"],["field4","boolean"],["updated_at","date"],["created_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:33:31 GMT
recorded_with: VCR 2.1.1
