---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="LpaEzyl8I0Cr1zJ7JM6Y6Wxmhbg0G53Y5IU3uBRyg",
        oauth_signature="wWmXE0i8uY7k%2FH8PgjPfujlcw98%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787294", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4699
      Etag:
      - ! '"3621998f8977c6b9e05d32a7e828f127"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4699,"name":"cartodb_spec","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:34:55 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/cartodb_spec?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="mNbOVnN6CeKl4V4Wt79eUiSPOCGJHJea76AlQX29LX4",
        oauth_signature="ZQn8mZK3SG%2BJQJIvIXGftFm7phg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787295", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"6e273ae1d9e31bd3fe4e1499a0e7979a"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4699,"name":"cartodb_spec","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:34:55 GMT
recorded_with: VCR 2.1.1
