---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="nSEYPFQcrjyRcu91XOD48IFwUJXWsRCHwZuaxc8A",
        oauth_signature="rLoe9zcSNXhGYDODzBScur4bZkE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787414", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4707
      Etag:
      - ! '"a846e542b34b5d905b369e207c9ac75e"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4707,"name":"table_1","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:36:55 GMT
[...]
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/table_2?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="UAskTDkmOYTlitZQfcWHpWwEyI0t0orYCJ3hODAwOg",
        oauth_signature="M5h3zR7JqYk7lqIsIP3JCb7peFk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787417", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 15:36:58 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="GUUT6L9qxnwYzthQDBrMV8i7ipurC1PLyFTjYwBM",
        oauth_signature="f3B2ltCzef%2FajFYo4b1hBki%2FHYU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787418", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"6af6959c71802d9e9e48f0fa51c81311"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":2,"tables":[{"id":4709,"name":"table_3","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T17:36:56+02:00","rows_counted":0},{"id":4707,"name":"table_1","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T17:36:54+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 15:36:58 GMT
recorded_with: VCR 2.1.1
