---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="1Vr9n17yZmEAHlfydxl86rclPc4aBvL7lzAWVO7TW4s",
        oauth_signature="uapGN8Qyxh6ahE%2BDo4JrtAWolC0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787340", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4702
      Etag:
      - ! '"38eb3dcaaa9cfda9dfd4728d899d686f"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4702,"name":"cartodb_spec","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","multilinestring"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:35:42 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/cartodb_spec?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="nsD6Qt1i1ik9e4faMePx0yIbsH0a04jKFqfQvUYM",
        oauth_signature="DKIAElDIlVX%2F8OdS7%2BuoD0cyxPU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787342", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"67eb4159eb9d29292b5632c19da6f158"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4702,"name":"cartodb_spec","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","multilinestring"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:35:42 GMT
recorded_with: VCR 2.1.1
