---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="KahvE2Lr0RCQG6jZfR1hiv6FQvQY13B1nfF8yok0t0",
        oauth_signature="w%2BpoGu%2F4QAl%2BNxPLORd5oDqC7L4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337857592", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4754
      Etag:
      - ! '"abe671cab1ca16a2b689198b93e9a5bc"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4754,"name":"table_1","schema":[["cartodb_id","number"],["field1","string"],["field2","number"],["field3","date"],["field4","boolean"],["updated_at","date"],["created_at","date"]]}'
  recorded_at: Thu, 24 May 2012 11:06:34 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="conoteWaQakcCFPfYrpqHT4Sh4dUvBhZzAcvXTNdvQ",
        oauth_signature="qwCoEFVTN3zstij0F%2BXsq6xuqhg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337857594", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Thu, 24 May 2012 11:06:34
        GMT";
      Last-Modified:
      - Thu, 24 May 2012 11:06:34 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.077,"total_rows":1,"rows":[{"id":1,"updated_at":"2012-05-24T13:06:34.729Z","created_at":"2012-05-24T13:06:34.729Z","cartodb_id":1,"field1":"lorem","field2":100.99,"field3":"2004-01-01","field4":true}]}'
  recorded_at: Thu, 24 May 2012 11:06:34 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="rTFbbBsgh4gyRlKkMnhXfb5lgVc13y19BLwkwgps",
        oauth_signature="Vq%2FSZ8BqDdawDh%2BcyTGa02uvpsg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337857594", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Thu, 24 May 2012 11:06:35
        GMT";
      Last-Modified:
      - Thu, 24 May 2012 11:06:35 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.442,"total_rows":1,"rows":[{"id":1,"updated_at":"2012-05-24T13:06:34.882Z","created_at":"2012-05-24T13:06:34.729Z","cartodb_id":1,"field1":"illum","field2":-83.24,"field3":"2004-01-02","field4":false}]}'
  recorded_at: Thu, 24 May 2012 11:06:35 GMT
recorded_with: VCR 2.1.1
