---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="5SRqYWKOaMJ0RstfsYBax0A5bbnLE1eGBbBp8eTRkU",
        oauth_signature="smkERQIMN%2Bf5kVlifVhOAQQrYR0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337857503", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4753
      Etag:
      - ! '"07e63671976f7c73e985e58b68ba7aff"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4753,"name":"table_1","schema":[["cartodb_id","number"],["field1","string"],["field2","number"],["field3","date"],["field4","boolean"],["updated_at","date"],["created_at","date"]]}'
  recorded_at: Thu, 24 May 2012 11:05:05 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="sbnfMOUkolk6wPbpTl7lFVffP0zQHOI937hrYFuUmg",
        oauth_signature="NTCYqvhxs%2Fd4ENkP33UIYuvUgf4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337857505", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Thu, 24 May 2012 11:05:05
        GMT";
      Last-Modified:
      - Thu, 24 May 2012 11:05:05 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.114,"total_rows":1,"rows":[{"id":1,"updated_at":"2012-05-24T13:05:05.625Z","created_at":"2012-05-24T13:05:05.625Z","cartodb_id":1,"field1":"lorem","field2":100.99,"field3":"2004-01-01","field4":true}]}'
  recorded_at: Thu, 24 May 2012 11:05:05 GMT
recorded_with: VCR 2.1.1
