---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="HXL7bmrXx5sgovgXrqZtmaIsQKh3ql9r8of8hCGB9s",
        oauth_signature="E%2FAUPiO07IeVha2HXXpvxdEU8lw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787531", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4715
      Etag:
      - ! '"223fc3603b66af2688a3a5eeeb66c18d"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4715,"name":"table_1","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:38:51 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="AH0nt8TsQfLjFeQMZFPA4bD600eNmJLS8i2a2eLDw8",
        oauth_signature="%2BXtAGzVqH5TAMMb7g5CdfOXWIVk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787531", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 15:38:52
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 15:38:52 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.101,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":"tadoqcubykfplvh","description":"mnfrozhspgxuclawbtdyekjvqi","created_at":"2012-05-23T17:38:52.033Z","updated_at":"2012-05-23T17:38:52.033Z","the_geom":"0101000020E61000000000000000C065400000000000003D40","the_geom_webmercator":"0101000020110F000048545E76E7787241673C78040FC14941"}]}'
  recorded_at: Wed, 23 May 2012 15:38:52 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/table_1/records?page=0&rows_per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="GpgdGjwIGTOinHOw1LPJf8KUoR8WwEZooqfjZAFE",
        oauth_signature="OrhwvZ4TIgfurXMIIE6WvmCGd0M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787540", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"12a18b8c4c1128575b8d10efa699da26"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4715,"name":"table_1","total_rows":50,"rows":[{"the_geom":"{\"type\":\"Point\",\"coordinates\":[174,29]}","updated_at":"2012-05-23T17:38:52+02:00","created_at":"2012-05-23T17:38:52+02:00","description":"mnfrozhspgxuclawbtdyekjvqi","name":"tadoqcubykfplvh","cartodb_id":1},{"the_geom":"{\"type\":\"Point\",\"coordinates\":[111,28]}","updated_at":"2012-05-23T17:38:52+02:00","created_at":"2012-05-23T17:38:52+02:00","description":"ibokcsrdgthzenxyaqvmflwjpu","name":"itovcqknuegwpyr","cartodb_id":2},{"the_geom":"{\"type\":\"Point\",\"coordinates\":[162,34]}","updated_at":"2012-05-23T17:38:52+02:[...]
[...]
