---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="c4Npsbw3nlY6vQjowSW2wf5UpPNj5YZoewx0t84k8",
        oauth_signature="hAcXWyboLUWG5P9hH95tUnL5uhg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787400", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4705
      Etag:
      - ! '"484e10f493e789f2bb71ca5f4715d54b"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4705,"name":"table_1","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:36:41 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="IlOa1BIelxntGDrfrPTDKZaFXPOdAyAsnZvIbOWRE",
        oauth_signature="DYq3BS9cZV05Eqm%2BJYtyNgtjmZA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787403", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"be565112af156152cc59478751e1fc17"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":2,"tables":[{"id":4706,"name":"table_2","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T17:36:41+02:00","rows_counted":0},{"id":4705,"name":"table_1","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T17:36:41+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 15:36:43 GMT
recorded_with: VCR 2.1.1
