---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="wm9cDjgcIIFF26tVUe8hIJyCtRc0mdkb6EesekjgM8",
        oauth_signature="GNjATJHnkjoCv8z7DPcC6kJXyU0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787579", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4718
      Etag:
      - ! '"a9f1f502e538b2465afe881460f3d918"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4718,"name":"table_1","schema":[["cartodb_id","number"],["class","string"],["updated_at","date"],["created_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:39:39 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="af70T1kBATsV6tbz4unGLM9CQRSaAq6D1y24PkodjQ",
        oauth_signature="qdJNGZFJLS61dWtGh8U%2FN1uNjLk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787579", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 15:39:39
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 15:39:39 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.067,"total_rows":1,"rows":[{"id":1,"updated_at":"2012-05-23T17:39:39.883Z","created_at":"2012-05-23T17:39:39.883Z","cartodb_id":1,"class":"wadus"}]}'
  recorded_at: Wed, 23 May 2012 15:39:39 GMT
recorded_with: VCR 2.1.1
