---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="fm3dUhBhrqWRP30ndcf9ok7E1n8Md1qtYyBiLYxCPg",
        oauth_signature="xC5Xjg8rN4PwD4V8O1siuU%2FQ2QE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787386", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4704
      Etag:
      - ! '"880d30b4c48aac2d3248359b6ca891e7"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4704,"name":"cartodb_spec","schema":[["cartodb_id","number"],["field1","string"],["updated_at","date"],["created_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:36:27 GMT
- request:
    method: put
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/cartodb_spec/columns/field1?new_name=changed_field&type=numeric
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="h3cbXJ9Lf8MPGstZ3GSnpW2c93hVV5hmSkEXITqNndE",
        oauth_signature="nltd1yd3i6GvHLVfhZlCXpEzJz4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787387", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: Continue
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"ef125030e389743b528a8f40fcf00f14"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"changed_field","type":"numeric","cartodb_type":"number"}'
  recorded_at: Wed, 23 May 2012 15:36:28 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/cartodb_spec?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="keUzK8LCQhxHZT6fLhbX0HRdZR5QFl4UkOA0TxK3A",
        oauth_signature="LGOmBfjqUywn8QkcAzoGhjns8XY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787388", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"25c2922928a1b14bfa66cb219771afed"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4704,"name":"cartodb_spec","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["changed_field","number"],["updated_at","date"],["created_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:36:28 GMT
recorded_with: VCR 2.1.1
