---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="3N8sTz6j8uLwFHvXcLlr4V1x2QtzVPjhOAjUNwIEP8",
        oauth_signature="FD%2FDUCEKfpAOTabhZ8wDViQcsTw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787472", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4713
      Etag:
      - ! '"269a1385280854c1d65484bfadb845e4"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4713,"name":"table_1","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:37:53 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="H6AqGTsw7qxToOr7tCss700AFnuPCMFhU3ONUs839o",
        oauth_signature="qmJnVRhRSMP6y3URHqnoBILGul0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787473", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 15:37:53
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 15:37:53 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.051,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":"fyizprbogdhuemw","description":"nkbxrjchegtfwsuavoqmldyzip","created_at":"2012-05-23T17:37:53.610Z","updated_at":"2012-05-23T17:37:53.610Z","the_geom":"0101000020E61000000005DD5ED2980DC0CBDB114E0B364440","the_geom_webmercator":"0101000020110F00008EC91342FF2219C107FF7B4B00CC5241"}]}'
  recorded_at: Wed, 23 May 2012 15:37:53 GMT
[...]
