---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="T3JNCaAEnFJewJGHOiiRSZwoJuAlnuV9vovRGLgebg",
        oauth_signature="q6Vrq4zfVyO5titgh3J4bR%2Bvsr8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787461", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4712
      Etag:
      - ! '"ba42f14708025409125aeeaf76dca12c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4712,"name":"table_1","schema":[["cartodb_id","number"],["field1","string"],["field2","number"],["field3","date"],["field4","boolean"],["updated_at","date"],["created_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:37:42 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="AL2HqJgULid6WPQnBIw2gGSHHveOxW0yzyHYtGP3VI",
        oauth_signature="JmiOe7TM4ETS7BNCPNq6JBcCJM4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787462", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 15:37:42
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 15:37:42 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.075,"total_rows":1,"rows":[{"id":1,"updated_at":"2012-05-23T17:37:42.522Z","created_at":"2012-05-23T17:37:42.522Z","cartodb_id":1,"field1":"lorem","field2":100.99,"field3":"2012-05-23","field4":true}]}'
  recorded_at: Wed, 23 May 2012 15:37:42 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/table_1/records?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="gpMU5UbH4ZQU7QWEBlfOAAbQbeWYJ8htNw2cYS1xQk",
        oauth_signature="oAI%2BbIAC4B8GU391emKrYrQO5z8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787462", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"4ba9fbc181be0e40548c5e6e3ddab355"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4712,"name":"table_1","total_rows":0,"rows":[]}'
  recorded_at: Wed, 23 May 2012 15:37:42 GMT
recorded_with: VCR 2.1.1
