---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="JqAt15us9nToTQAqZmLNwxe1nq5ER4QNjzX9mFs8",
        oauth_signature="sfQZgSole2T2OYd9UI%2FEl2kJU50%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787561", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4717
      Etag:
      - ! '"5bf30b6d401338f915c5ee2666391064"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4717,"name":"table_1","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","multipolygon"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:39:22 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="x4KwDc2g0GhiqvFJf0D2qx3knqJFUfo4Iz8iq8k8s",
        oauth_signature="xB6xeIqBXLONzzifnXxjZ2iqQUI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787562", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 15:39:22
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 15:39:22 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.073,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":null,"description":null,"created_at":"2012-05-23T17:39:22.915Z","updated_at":"2012-05-23T17:39:22.915Z","the_geom":"0106000020E6100000010000000103000000010000000400000090275C8F5EEB57400876CE2B7DF24D4090275C8F5EB05640CAFDDE469D154B4090275C8F5EDA5940B99F85771E614C4090275C8F5EEB57400876CE2B7DF24D40","the_geom_webmercator":"0106000020110F00000100000001030000000100000004000000B1CD615C945064417A2B6AA7F4F35F41C90495C80C4563419B17217766795B411E775AB2FBF4654148B12FAE3D6A5D41B1CD615C945064417A2B6AA7F4F35F41"}]}'
  recorded_at: Wed, 23 May 2012 15:39:23 GMT
recorded_with: VCR 2.1.1
