---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="5iEmPwEBHOYl69qJrCHJJ76BnhBeTyuTEaHldCGE6w",
        oauth_signature="ClrOKVweYaAemymedHj6pyJwpGc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787315", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4700
      Etag:
      - ! '"3a866ca28deab9278a58105f67858926"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4700,"name":"cartodb_spec","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","multipolygon"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:35:15 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/cartodb_spec?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="U8NikRsh4oEuOoqnjH3lDm2tzNfG9WwGmPbswKLyxM",
        oauth_signature="c5V85fXiua%2Bkgw%2FLDSF26zrw0C4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787315", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"71c4b45d2fe35dc1b34f8a69eafcb091"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4700,"name":"cartodb_spec","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","multipolygon"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:35:16 GMT
recorded_with: VCR 2.1.1
