---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="wOy3geLdUbdcRlQpgpGxnaRh2bUukenfnUSPi3gwxnc",
        oauth_signature="4JdGXF1ZKLUBIUi6frYUbmh6zik%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787193", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4691
      Etag:
      - ! '"454d0d1d0dbce6503cb6238ef4131ac5"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4691,"name":"cartodb_spec","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:33:15 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/cartodb_spec?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="ycvwnS9S9x7bYguvn3idYrAK9OuuVrO8zLNYXzkU",
        oauth_signature="dStHywL2kd8WznSTC4t00y%2F0d%2FI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787195", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"a76a1376d80c77de2baf76142fa0ac98"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4691,"name":"cartodb_spec","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:33:15 GMT
recorded_with: VCR 2.1.1
