---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="yOmdUL8ZBceqNSYzAM9KDDRqnRcvzjKsQUZ5ZefeU",
        oauth_signature="aV8EWQKpdHW%2B7pHPnzEih%2B7tiig%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784741", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"d38cbc6fe8748444b5bc161dcdf4df91"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":0,"tables":[]}'
  recorded_at: Wed, 23 May 2012 14:52:21 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="Faa5CUqGFldT4DZTxm47XvEXHObGXSR64UxPF91A0",
        oauth_signature="7haBQEMqscMEMd%2FgIhJlAT5ygfY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784741", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:52:21 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="EArT8DdT8QnFqkw9woJyzmWiytq2ijE8kJwThmhFU",
        oauth_signature="4TPEIvU1alZSbUPj323ksdrIkmk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784741", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4647
      Etag:
      - ! '"c39fdfe9e99004de17888dcd1c5ad519"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4647,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:52:22 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="YrcE7OoJX646mCy2wY3AoMeBC07x5hpD8VfsmLhx5aQ",
        oauth_signature="IoJh0fEvG83qq0lsK6EkKEGDByA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784742", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:52:22 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="50evlGpC8LHlz6OufwGv3oC1BAmPF8sCLYt0H3Gug",
        oauth_signature="GAXzgrjtS%2BJQxG%2F1eSZR2lW%2Fy2s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784743", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"dd2fe6203b48b85a54ec698bad75f225"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4647,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:52:23 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/records?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="iggqCcoxKvzWXSS3EOLD6rADTPA7xvjFwJjYNlrRFa0",
        oauth_signature="Q0vVzqefOA%2BjZdVnySEqitCjHbs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784743", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1fbe850f3a8a017da29a9f745dd3a03d"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4647,"name":"moto_gp_circuit","total_rows":0,"rows":[]}'
  recorded_at: Wed, 23 May 2012 14:52:23 GMT
recorded_with: VCR 2.1.1
