---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="Wq1uNgcRDdGGP84gAWTbkaQ2iqVRN2eTYaloT2j6aM",
        oauth_signature="Rv4se3prMDfYC2Vohkx4tbxwyKQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784754", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"7bc865d67247046e7c1bfbf1c50b8661"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4649,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:52:30+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:52:34 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="0nCrEPlkT9LvOm4asb6PzihIe5YIQGO3nomIkfppg",
        oauth_signature="m2htq674KO85lJ%2F%2FYt1uxfdter8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784754", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:52:34 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="leRA80w6n7soIF1EGKbzj4mJkvNdLgldLozQ2buwas",
        oauth_signature="GJzyWmfI5tBv3mIcaT6RGE3kd%2Fs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784755", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4650
      Etag:
      - ! '"375201d92808dad7873a5b274a781956"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4650,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:52:36 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="0yhU0q7AqftdB5fY21y1yGEfuUdf8eW8DVUvZX1t6E",
        oauth_signature="zk4j5TpR4%2B04iu%2BbvReEq4r%2Bxfw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784756", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:52:36 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="zqQs0HnKC9iPPM1BmAQh1dxTdQkPgSAn1jJhpkjkJo8",
        oauth_signature="JkOQ0J7jsAroMfnPP4ZUgwAk49g%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784759", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 14:52:39
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 14:52:39 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.192,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":"Losail
        Circuit","description":"The fabulous Losail International Circuit lies on
        the outskirts of Doha, the capital city of Qatar. Built in little over a year,
        the track cost $58 million USD and required round-the-clock dedication from
        almost 1,000 workers in order to get it ready for the inaugural event - the
        Marlboro Grand Prix of Qatar on the 2nd October 2004.","created_at":"2012-05-23T16:52:39.515Z","updated_at":"2012-05-23T16:52:39.515Z","the_geom":"0101000020E6100000C1C9367007BA494005FA449E247D3940","the_geom_webmercator":"0101000020110F0000408B6E3C84D95541DF11F60B32664641","length":"5380m","width":"12m","longest_straight":"1068m","left_corners":6,"right_corners":10,"constructed":"2004-01-01T00:00:00.000Z","modified":"2004-01-01T00:00:00.000Z"}]}'
  recorded_at: Wed, 23 May 2012 14:52:39 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/records?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="RlYHjwlkkpAflR4RTlL8YfU7mBSSucv2A7MJeQt040",
        oauth_signature="3ch5%2F3yvopUajZtOikv0c7yciEw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784759", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"ca86f24aa447e4bcc3459ef77afe50a9"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4650,"name":"moto_gp_circuit","total_rows":1,"rows":[{"modified":"2004-01-01T00:00:00+01:00","constructed":"2004-01-01T00:00:00+01:00","right_corners":"10.0","left_corners":"6.0","longest_straight":"1068m","width":"12m","length":"5380m","the_geom":"{\"type\":\"Point\",\"coordinates\":[51.453352,25.48884]}","updated_at":"2012-05-23T16:52:39+02:00","created_at":"2012-05-23T16:52:39+02:00","description":"The
        fabulous Losail International Circuit lies on the outskirts of Doha, the capital
        city of Qatar. Built in little over a year, the track cost $58 million USD
        and required round-the-clock dedication from almost 1,000 workers in order
        to get it ready for the inaugural event - the Marlboro Grand Prix of Qatar
        on the 2nd October 2004.","name":"Losail Circuit","cartodb_id":1}]}'
  recorded_at: Wed, 23 May 2012 14:52:39 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/records/1?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="Hb5OFr8vymdMyD42PAk3bY4nMLJxVGooQERu2Ozwhrw",
        oauth_signature="7B5pLwq80wxPhn%2FOSv6mW%2FWrpDQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784761", oauth_token="7PalByYmKY8Dzh[...]
