---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="MllexkQe52P80fl730NRcvUEpe0wNjUhQdNYZ2YE",
        oauth_signature="WKnqncNFLjLuU7bC0D0R3huWbOo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337858294", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"9d030301f73cf10aca0b0a32d1ed6530"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4755,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Thu, 24 May 2012 11:18:14 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/records?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="QQd2CO0aM1hVdXpIu9TKr6wkfR0DF4vKae5WOSR3A4",
        oauth_signature="EUH7yy3CPM7FgvkXoBijhkxJQ7A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337858294", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"014aa9e546e5bdcfd93a226b78b1e278"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4755,"name":"moto_gp_circuit","total_rows":0,"rows":[]}'
  recorded_at: Thu, 24 May 2012 11:18:14 GMT
recorded_with: VCR 2.1.1
