---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="JJnI8nXRdhFQezwqCmjOxb5AAZeHnTtCtmkIWfVejis",
        oauth_signature="aie3WP2%2BAy6do7plCG0Ajgea878%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784744", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"60039036ad17df8e17a45a53b949fd47"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4647,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:52:21+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:52:24 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="9IwREzBmv7eeSV6OcmCnwi9Jqk1LPfeogCfxA4dyLB0",
        oauth_signature="Q3pyHaaN837bV8qvfH8YzXiUSGk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784744", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:52:24 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="lkg5iue2sSuz6rCyHqNejFz34ztr4brIrX8exJxoug",
        oauth_signature="jMT1ijpXAiBDSWXnfCW1YcHV7rg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784744", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4648
      Etag:
      - ! '"683e52c5273a58c8ccbc2ab992517600"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4648,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:52:25 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="dl09jO3lnHAAaIUOJsEpSGUVjZUcnLYqQ6PXz1nUY",
        oauth_signature="AlMYmHHqRd6yJnvZGxScZEOU9kU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784745", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:52:25 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/records?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="yc3dhDz1Vei0S9cKzLEwvPbrlo2B4KGUF5RiYdcdrU",
        oauth_signature="pjJpXKuSj377e9XMGeV3Os%2Be1UQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784747", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"49765dc0c13bb24b13e29abebbc60cf9"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4648,"name":"moto_gp_circuit","total_rows":0,"rows":[]}'
  recorded_at: Wed, 23 May 2012 14:52:27 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="ZhTGEODqIlUHWbGWGyD6YjuF9fVIARnXjoRU90HZ8",
        oauth_signature="gEmodOzRIh%2FRd9o4jnbYlJB%2FeTo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784748", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 14:52:28
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 14:52:28 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.084,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":"Losail
        Circuit","description":"The fabulous Losail International Circuit lies on
        the outskirts of Doha, the capital city of Qatar. Built in little over a year,
        the track cost $58 million USD and required round-the-clock dedication from
        almost 1,000 workers in order to get it ready for the inaugural event - the
        Marlboro Grand Prix of Qatar on the 2nd October 2004.","created_at":"2012-05-23T16:52:28.448Z","updated_at":"2012-05-23T16:52:28.448Z","the_geom":"0101000020E6100000C1C9367007BA494005FA449E247D3940","the_geom_webmercator":"0101000020110F0000408B6E3C84D95541DF11F60B32664641","length":"5380m","width":"12m","longest_straight":"1068m","left_corners":6,"right_corners":10,"constructed":"2004-01-01T00:00:00.000Z","modified":"2004-01-01T00:00:00.000Z"}]}'
  recorded_at: Wed, 23 May 2012 14:52:28 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/records?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="Im7qOr8ZTiRQWMIWd6SGaCJlggX9RKHTFixnYCM",
        oauth_signature="NOfs7YUezwZEnlcz0BC%2BQoIyyQo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784748", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"78346c56703798e27c57ca58e8375c0e"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4648,"name":"moto_gp_circuit","total_rows":1,"rows":[{"modified":"2004-01-01T00:00:00+01:00","constructed":"2004-01-01T00:00:00+01:00","right_corners":"10.0","left_corners":"6.0","longest_straight":"1068m","width":"12m","length":"5380m","the_geom":"{\"type\":\"Point\",\"coordinates\":[51.453352,25.48884]}","updated_at":"2012-05-23T16:52:28+02:00","created_at":"2012-05-23T16:52:28+02:00","description":"The
        fabulous Losail International Circuit lies on the outskirts of Doha, the capital
        city of Qatar. Built in little over a year, the track cost $58 million USD
        and required round-the-clock dedication from almost 1,000 workers in order
        to get it ready for the inaugural event - the Marlboro Grand Prix of Qatar
        on the 2nd October 2004.","name":"Losail Circuit","cartodb_id":1}]}'
  recorded_at: Wed, 23 May 2012 14:52:28 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/records/1?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="XAHz8PZ9DQu6Glll1FlN1FkFaR2TAosDWwtuY7f3M",
        oauth_signature="emuL9q0AotILjmxIS5UjQc0OjOY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784748", oauth_token="7PalByYmKY8Dzh76fnt0[...]
