---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="fhERU9y33mvTErdafp79huhE1eQwdm5QtInPGykM",
        oauth_signature="i6Pn5ZJ%2FkxnU9lA4OYedmR0JMAQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784761", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"f21160ca256cb20f0aab61dcae322401"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4650,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:52:35+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:52:41 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="smTUJgyMjCOjpFUs6PbcDQmfhrV0wh56JslhvILmg4",
        oauth_signature="bViQ3AYAR6eqdNXxqazNLhWzdKE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784761", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:52:41 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="9YLNdfIuX6eVF7jMIPNGxWRTH5gjWbvE9PFTRE9nfw",
        oauth_signature="8V2Kc0ufnSbnoTGZHgoRqAyawyg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784762", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4651
      Etag:
      - ! '"d7f5196b7c75e28584bd14f47cb9fe4a"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4651,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:52:42 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="5hBlAaTeWobwqYJ9Ln66hp0GUSWKJqWhhjvijgBo4",
        oauth_signature="hUgWuDCScxbQaBNpLjXqTH8eIGY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784762", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:52:42 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="kAj9Ue7nglCejz3RmqISfH5ShPlVstUWDbksSzyDdis",
        oauth_signature="cdadV9T4k7ctg0e7Ht3oOF%2B7iUo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784765", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 14:52:45
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 14:52:45 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.103,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":"Losail
        Circuit","description":"The fabulous Losail International Circuit lies on
        the outskirts of Doha, the capital city of Qatar. Built in little over a year,
        the track cost $58 million USD and required round-the-clock dedication from
        almost 1,000 workers in order to get it ready for the inaugural event - the
        Marlboro Grand Prix of Qatar on the 2nd October 2004.","created_at":"2012-05-23T16:52:45.484Z","updated_at":"2012-05-23T16:52:45.484Z","the_geom":"0101000020E6100000C1C9367007BA494005FA449E247D3940","the_geom_webmercator":"0101000020110F0000408B6E3C84D95541DF11F60B32664641","length":"5380m","width":"12m","longest_straight":"1068m","left_corners":6,"right_corners":10,"constructed":"2004-01-01T00:00:00.000Z","modified":"2004-01-01T00:00:00.000Z"}]}'
  recorded_at: Wed, 23 May 2012 14:52:45 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/records?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="ujgq62n41naEuD52dsPSCSxAgkYLHD6kk50VQu9o28",
        oauth_signature="S2etNV4Q2q8lIbCWReQhie4h%2FMg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784765", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"dacc8b15eaed2b4992d6d8337852a9ff"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4651,"name":"moto_gp_circuit","total_rows":1,"rows":[{"modified":"2004-01-01T00:00:00+01:00","constructed":"2004-01-01T00:00:00+01:00","right_corners":"10.0","left_corners":"6.0","longest_straight":"1068m","width":"12m","length":"5380m","the_geom":"{\"type\":\"Point\",\"coordinates\":[51.453352,25.48884]}","updated_at":"2012-05-23T16:52:45+02:00","created_at":"2012-05-23T16:52:45+02:00","description":"The
        fabulous Losail International Circuit lies on the outskirts of Doha, the capital
        city of Qatar. Built in little over a year, the track cost $58 million USD
        and required round-the-clock dedication from almost 1,000 workers in order
        to get it ready for the inaugural event - the Marlboro Grand Prix of Qatar
        on the 2nd October 2004.","name":"Losail Circuit","cartodb_id":1}]}'
  recorded_at: Wed, 23 May 2012 14:52:45 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/records?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="VKrFMee1qmrAoXKW6kClTqJyFGv6CRveAip6TmoFqA",
        oauth_signature="qwrZWZ8FDXXPgtYG6RyHV%2Fra78k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784765", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"ee14c1b8b4639dcf5b95c2548b30526b"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4651,"name":"moto_gp_circuit","total_rows":0,"rows":[]}'
  recorded_at: Wed, 23 May 2012 14:52:46 GMT
recorded_with: VCR 2.1.1
