---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/polygon_geometry_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="vwVefyvCWl7ynuR8AuoKvZsR7sIh9U2tP5biaS7NA",
        oauth_signature="AohfauLqngSHk0TFNSXB9toW5pU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337870915", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Thu, 24 May 2012 14:48:35 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="n5tb1UMTLk9zrgl14NXoCxnhNs5vZU7cfu9gtUqc",
        oauth_signature="HUfleKpT7dJL3iTNxWnXOsdD1fQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337870915", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4766
      Etag:
      - ! '"499a15980e771025b1015ef6a601d332"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4766,"name":"polygon_geometry_model","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","multipolygon"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Thu, 24 May 2012 14:48:36 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/polygon_geometry_model/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="XX8AMz59LYQhUh6lCJ1qd9yYBTNN1tb8X7LzEaO4",
        oauth_signature="MWYCziCJu%2BtmuGnrg1EqlOkosz8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337870916", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"2b29d6d55604f6cc9dd231b39f6a062c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"another_column","type":"text","cartodb_type":"string"}'
  recorded_at: Thu, 24 May 2012 14:48:37 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/polygon_geometry_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="MX4I9BGYzhtB1djT51kIsQjUfbho2cMJLA6ncB8",
        oauth_signature="G2CKmdmbXAbp%2FK91WgmbSlAjxho%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337870917", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"6fbf5d178d3733d879961e43482f52cb"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4766,"name":"polygon_geometry_model","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","multipolygon"],["another_column","string"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Thu, 24 May 2012 14:48:37 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/polygon_geometry_model/records?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="CUibnF39eTRDFtxjUtvkqAtbS6AuWNZMdyCFgmQR3M",
        oauth_signature="Vjv25Z4MEyr0HxBMMtb7KzNfuac%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337878931", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"f0bd02af8ffba23ce9fc70926f8004f3"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4766,"name":"polygon_geometry_model","total_rows":0,"rows":[]}'
  recorded_at: Thu, 24 May 2012 17:02:12 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="djj5T4opg9iQNILYWL38MmmY4PPAqzCa5MKKM8OVA",
        oauth_signature="JkfdN8AanfZnLXgRfdPQaQZMUDs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337878932", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Thu, 24 May 2012 17:02:12
        GMT";
      Last-Modified:
      - Thu, 24 May 2012 17:02:12 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.119,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":null,"description":null,"created_at":"2012-05-24T19:02:12.499Z","updated_at":"2012-05-24T19:02:12.499Z","the_geom":"0106000020E61000000100000001030000000100000007000000A1F7C610003C0EC0D76CE525FF1F4040B939950C000D21C020D099B4A9963A401E19ABCDFF2B00C08A0453CDAC4D3440B939950C00752240815EB873619037408F8CD5E6FFC51B4029EACC3D24B03D4071732A1900DA16408A03E8F7FD454040A1F7C610003C0EC0D76CE525FF1F4040","the_geom_webmercator":"0106000020110F00000100000001030000000100000007000000F06D9EAB95AD19C100D9A14164F64C41789CAF5E64F62CC11049E1824E704741460A648E34780BC14B255FE7C89D4141881E5F67E3592F411994EAA8279A44411A9165608696274174E12F54AD6C4A413794F13B68682341B41E7727D4424D41F06D9EAB95AD19C100D9A14164F64C41","another_column":null}]}'
  recorded_at: Thu, 24 May 2012 17:02:12 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/polygon_geometry_model/records?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="8fJnTt1VpAO9zt4SGgr0x0jxpDYJE22nt2AEQBH1mI",
        oauth_signature="6Jl2Q5vzwZtR%2BKJc87ho9tnmgEc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337880787", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"df3685419144de41842f9e4ad4864558"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4766,"name":"polygon_geometry_model","total_rows":3,"rows":[{"another_column":null,"the_geom":"GeoJSON","updated_at":"2012-05-24T19:02:12+02:00","created_at":"2012-05-24T19:02:12+02:00","description":null,"name":null,"cartodb_id":1},{"another_column":null,"the_geom":"GeoJSON","updated_at":"2012-05-24T19:20:13+02:00","created_at":"2012-05-24T19:20:13+02:00","description":null,"name":null,"cartodb_id":2},{"another_column":null,"the_geom":"GeoJSON","updated_at":"2012-05-24T19:33:07+02:00","created_at":"2012-05-24T19:33:07+02:00","description":null,"name":null,"cartodb_id":3}]}'
  recorded_at: Thu, 24 May 2012 17:33:07 GMT
recorded_with: VCR 2.1.1
