---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="h13ZvTwy6xlytnDYD3ROIzU0WYr1dSuabCWMGfx9XQ",
        oauth_signature="XyfzbWmLOw6%2B4Gpx7Fn7KUfSvfU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784748", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"cb8fbe19039d409b51b629feb67ef3cc"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4648,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:52:24+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:52:28 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="IgZDJgVyZivM6dx6vfRxckYI4EvbpnRvFtqkbxSs",
        oauth_signature="d7TQBCnzNqs7MTGBWpjdq14SiQs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784748", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:52:29 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="xVnCZSYFSjohRg5YtaRcbFQV9yjS7qLs8mWlaNyEkg",
        oauth_signature="EiYjHZy%2BB1Ldrd4itoVHF1iwju0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784749", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4649
      Etag:
      - ! '"dee9cda8e3f6a53d39810bc0e9e2984a"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4649,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:52:32 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="TM2DOyfDY25243hAITzDT6bvH1EneYl0WB0F9Byxs",
        oauth_signature="AneCDGwfU80hZFR4V0JZ4BJAoxY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784752", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:52:32 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="5rv0jNAixB4WQGkVgm7mFBl6D8DbypjcTx2Hgx4xnvE",
        oauth_signature="G6cv95OSpEhuq6GESR7xLcMTryU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784754", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 14:52:34
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 14:52:34 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.128,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":"Losail
        Circuit","description":"The fabulous Losail International Circuit lies on
        the outskirts of Doha, the capital city of Qatar. Built in little over a year,
        the track cost $58 million USD and required round-the-clock dedication from
        almost 1,000 workers in order to get it ready for the inaugural event - the
        Marlboro Grand Prix of Qatar on the 2nd October 2004.","created_at":"2012-05-23T16:52:34.219Z","updated_at":"2012-05-23T16:52:34.219Z","the_geom":"0101000020E6100000C1C9367007BA494005FA449E247D3940","the_geom_webmercator":"0101000020110F0000408B6E3C84D95541DF11F60B32664641","length":"5380m","width":"12m","longest_straight":"1068m","left_corners":6,"right_corners":10,"constructed":"2004-01-01T00:00:00.000Z","modified":"2004-01-01T00:00:00.000Z"}]}'
  recorded_at: Wed, 23 May 2012 14:52:34 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/records/1?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="7LlHXESSre0c7U7VUsaDjbHp9u8StATUvwYqRHoMOA",
        oauth_signature="T%2BBJy5x8UDmzar5yCVV8EQObEKs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784754", oauth_token="7PalByYmKY8Dzh76f[...]
