---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="oNHN998FgviY7aogJOTJu6Gdc0ewWqpxHwdgxF6pv4",
        oauth_signature="zuI5%2FcMW5v4c5PisLWBO5BYcXRQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784770", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1862f44c4225451f74493b836205c57e"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":2,"tables":[{"id":4653,"name":"model_connection_test","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:52:49+02:00","rows_counted":0},{"id":4652,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:52:46+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:52:50 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/model_connection_test?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="UVtyTaSCHz01m7ccN8RTklZnz6r5a5A4IjaOXONviE",
        oauth_signature="dOxdh%2BbIoXN%2FGVWHXLSs3dYpPq0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784770", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:52:50 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="tW0gq86nOUSSy6GnWE0ZmMQc0POggzco2J1hB7YlaE",
        oauth_signature="VRPHPZP3Y%2BJvMPbcTymCoSDYFgk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784770", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:52:50 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="ZiGeZosc70PYkvxmsoxdODKN6gzMz9m0H9lcGCblrMg",
        oauth_signature="VwEcIq8kpwc04P0LHV9%2BcoHt%2FlM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784771", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4654
      Etag:
      - ! '"7affe57c047c460f5d362178e1c8784d"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4654,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:52:53 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="uew7VDC8SIStDFvuv6i1sT8PnEkD3QprUyC74NN4",
        oauth_signature="X2fyIfMYKFzlG4qcRyP%2BbtSxaJw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784773", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:52:53 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="GT6roLBJQ0YxkovGT6k7h95pIGhsMtQBf81LlOUc2so",
        oauth_signature="lrMC4u9Lzs6l1CAJmre6dPMg6hQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784775", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"6fed7be64d61478be523d51005c62b6c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4654,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:52:55 GMT
recorded_with: VCR 2.1.1
