---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="X41NCYnDHsd9yXqGt2NyULQe20eamfTLrBUQ3WKiJo0",
        oauth_signature="GLe%2BZAxgeUBQyesWrIri2Cmi7OI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784779", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"fdd19a5a31979a223f78ac78732f1c98"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4655,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:52:56+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:52:59 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="zUDKxmV5zXHTDAdfw6FP3qrP0NYPjyJ72nJZPKUro",
        oauth_signature="c%2BMCEh%2BTYZQUi2Wl4%2F41MBMLk1s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784779", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:52:59 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/my_table_with_custom_name?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="fWZMTzov8z0BCvLZmCMqTAWHdPwXJYft4vf6WWvak",
        oauth_signature="VJc46o87hTNW%2FCdHSBBEXzxXvbA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784779", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:52:59 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="S6R9uCQqVvTFqCobnBh7PRj9SmkUMjzbVU3IuH4E4",
        oauth_signature="Ljkxg2rdjTn15i98gnseHHerbeM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784779", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4656
      Etag:
      - ! '"7f7c8e9ba8c9839d479d60cdb43d72b5"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4656,"name":"my_table_with_custom_name","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:53:00 GMT
recorded_with: VCR 2.1.1
