---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/polygon_geometry_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="7JUEM8p1aQChcYaQ6i40D2fQ39bDGY8A8F1j63xo54",
        oauth_signature="vAtp7ydG1X3A3j0KTMojctWaGVo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337789849", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 16:17:29 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="D6ioZT50GSDe3ATX3hqjDJiGPAR9VSl2w5ReRHaQdk",
        oauth_signature="pLQEA1vn%2B13i3IUaJ%2BhRqhDEsHg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337789850", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4727
      Etag:
      - ! '"f5c3fbcc34d44cb47b397aa20e576d7f"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4727,"name":"polygon_geometry_model","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","multipolygon"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 16:17:31 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/polygon_geometry_model/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="XTFPtFN8yas4iGBUCdamC84eZEUq7nXMbDv3Lqk",
        oauth_signature="AcLCM0UDaejy%2BVtUyVDyr2euU4w%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337789851", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"2b29d6d55604f6cc9dd231b39f6a062c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"another_column","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 16:17:31 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/polygon_geometry_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="yOQKLMr0h31CfnPwGQKvzFR4HtcOmKoTuoCWuK7WqJI",
        oauth_signature="5j%2FIGPHi%2Bumv4yVvFmbu82GVZa0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337789851", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"7f81002ed8c00e7e89b0dda1629d05c7"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4727,"name":"polygon_geometry_model","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","multipolygon"],["another_column","string"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 16:17:32 GMT
recorded_with: VCR 2.1.1
