---
http_interactions:
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="azaghtNIsOBhNmSyjSthYt50x4xUrbSGo2xUIpReg4",
        oauth_signature="jFb7tnpZAd61fMfWHfrLr%2BDoNqM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337858249", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4755
      Etag:
      - ! '"e4437953658da404f55c1280dece2467"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4755,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Thu, 24 May 2012 11:17:30 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="J0pSnVudbtMjHj0vzq8G6ww8tSF518xx1fDXB2MS4",
        oauth_signature="4WyLdBQrD6LN0IOwlPJUFYFMBe4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337858250", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"9d030301f73cf10aca0b0a32d1ed6530"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4755,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Thu, 24 May 2012 11:17:31 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="MKWyexUq6cjPzqqLzBPLS66YVilDf3oAjvUBYgqQJEo",
        oauth_signature="4Gkc%2FF6Khuiw1BqIwpKqpNEssPc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337858252", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"9d030301f73cf10aca0b0a32d1ed6530"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4755,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Thu, 24 May 2012 11:17:32 GMT
recorded_with: VCR 2.1.1
