---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="FM0hWkA2vYJtgU9z05yAMLjvExH0ry0guLZHdY2DJ4",
        oauth_signature="AZ3eMfYN5COiW66Su4gegceXHYk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784766", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"d38cbc6fe8748444b5bc161dcdf4df91"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":0,"tables":[]}'
  recorded_at: Wed, 23 May 2012 14:52:46 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="uEaXfx5z8gDQE2EZJsYj6djCMfAqq9xF1VATpBKnY",
        oauth_signature="JMsPzSdEuELFa0V5pd%2B0gDjRYyg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784766", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:52:46 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="mf6vMaUx2yTh9PtZyN55mm6Ip5uLK9dpoyTlt5bpI",
        oauth_signature="EJVl9R%2FLzM9E6OMm9FXl%2BTZZ2dc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784766", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4652
      Etag:
      - ! '"b866f336b2279a8a31d49bab3e4710b9"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4652,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:52:47 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="Fr2d23ezMEytvLqBWdFl4VLkkt8hcRVRylvEMUTcwU",
        oauth_signature="x6%2FOgEF6rmYzLOPaD1TtJV54qx0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784767", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:52:48 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="WpP6R11JSu65nsImObrXhGAquyQYJ3sCrSetCc3Waw",
        oauth_signature="LCz2kTBZuQoL2m89bjPORFE4S%2FI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784768", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"bd7a9beec13a3f6e4b1159ca6e859684"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4652,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:52:48 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="NSUuv0WF56UtHXaad2XFZuvtfs0PvyX3OtPUHWwUM",
        oauth_signature="sI1RkN0Gw9dEbDAqrHzDzoE33Qw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784768", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4653
      Etag:
      - ! '"708ba1938ff3842d6aa1988298a9d67d"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4653,"name":"model_connection_test","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:52:50 GMT
recorded_with: VCR 2.1.1
