---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="L6nfNkhUVUwPaPWMBnKe1lvkQYBnnh6e4bU0zBm5W0",
        oauth_signature="ehCtacsQ0bgWNhuKR1o2IYXAGEk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784791", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"bd4ed0ae8651906cc8827524207a3dc5"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4658,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:53:06+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:53:11 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="il9DrH08drg7QZ7PciCzQEntEv44vXO0ctcwbfJiQ",
        oauth_signature="pHmcXUz34D%2Fhb09U3dUXDeUy328%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784791", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:53:12 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="87B19t64TJ6N18cT6qhPSD8csLZ2HRl8fNCHGEL8",
        oauth_signature="Q8E8Pa39TeAEYdBj002l8esvtNs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784792", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4659
      Etag:
      - ! '"6f9b9ac7369cdf55bfcc95af5774ef25"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4659,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:53:13 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="v5xFzXWPb9NhgFrNzUQGK14TQzb9jiEZnpZQuUE7cEk",
        oauth_signature="yjzIe6fra2HdlSmy%2F5dru7M6uWs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784793", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:53:14 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/standard_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="CdbaQAY4tBcgc6qIyxqeugEzqxVitY0tMFBLAgHc60",
        oauth_signature="wlL%2BQc3SX1gUK219LbKnN%2Fbkgic%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784795", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:53:15 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="glUBTdzuXum652SQ8qllJ2tUcKM6qOML5ZnGLuUNe4",
        oauth_signature="6UIXpu0BRjKgS%2B7wtgn8bMf4m7E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784795", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4660
      Etag:
      - ! '"204e922b2951895c0a51fc3c001778de"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4660,"name":"standard_model","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:53:16 GMT
recorded_with: VCR 2.1.1
