---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="uQA9nNPeY7OnV7YNYqUnyK0S9XZdtQmcRJf7mUGXXY",
        oauth_signature="2IMHD%2Fm%2BePykz7fR2BVGv%2B0lTic%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784798", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"862c87e03d8faa4d5aab35ecd50ec367"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4661,"name":"custom_data_type_column_model","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["test","number"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:53:17+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:53:18 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/custom_data_type_column_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="lvxT2Ahnh2GyxHDeY7PdF01yYVAYZFqghm3WRXN6USc",
        oauth_signature="W9A2KUG6KW2NWscIK9ncIELCXac%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784798", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:53:18 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/polygon_geometry_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="vFuvBg3ydQINVZkq9j3BXHPqoX7tUEwi7hBP4P3TVE",
        oauth_signature="xIE2nDMPFcZJI23S348BNbO55wM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784798", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:53:19 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="XdHJW9Sk57aukTawK8RjLnZo2CyASAbT4OVtouZ1LY",
        oauth_signature="jPE0otB3PBS34BlTQrmxLoAYMPY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784799", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4662
      Etag:
      - ! '"c46f92eefa42c011577c49525b0616e7"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4662,"name":"polygon_geometry_model","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","multipolygon"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:53:20 GMT
recorded_with: VCR 2.1.1
