---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="UkaEuMpjGFtoHR3FCZUzvelTbWQxuUktcytX9SPkcA",
        oauth_signature="%2BG9AwPf6JYRJT1fynQPi4I74QHI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784796", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"d322b3619a394afca012df9270c7999d"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":2,"tables":[{"id":4660,"name":"standard_model","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:53:15+02:00","rows_counted":0},{"id":4659,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:53:13+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:53:16 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/standard_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="k6tubRoLXd7iGCzGOathSd5LI0UybPZ9AkqeX7Y",
        oauth_signature="12xp%2FLd2hvdaFfD7UGzGwfUUmDk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784796", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:53:16 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="4qRaTAIpLsessAS0KTWHZz6riMftQ8DJDOxpnsVMtI",
        oauth_signature="aiGp5u3zxNV3Qdyl7YGh8GdGTAI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784796", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:53:16 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/custom_data_type_column_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="QcVOcnwPao0cupPodKJDXu8AcjJNpBIARFo2s2bQUc",
        oauth_signature="esORFYMEYdyB0%2Fv5p8yEg2UQyFc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784796", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:53:17 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="dQGkZ6YdkyxfswFGpWq6qq34HSmEO394Al7RFZdYv4",
        oauth_signature="DXxZgcHBR24HHiR3QtFEA9oUI40%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784797", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4661
      Etag:
      - ! '"edacd442c5a62cd2b8da6f668b29439e"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4661,"name":"custom_data_type_column_model","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:53:18 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/custom_data_type_column_model/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="nZDNEqmb8XMqg68SDIaVNm7HzqhJqokKcGn5z4DOF8",
        oauth_signature="MLzcQ6gYpKKSoAwOR6cDdGIrMwA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784798", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"97bad60fe46d77e880d0a9e6ad8f4e1e"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"test","type":"integer","cartodb_type":"number"}'
  recorded_at: Wed, 23 May 2012 14:53:18 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/custom_data_type_column_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="LQzkn4EragXRrYzqCXJt7C9rIUxWH4G6XLEcxC0sTTU",
        oauth_signature="qLsk2ebtrZxE%2FEUH7ob9AQQNlPA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337784798", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"be3c5b37bcc686da272c7356efccce48"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4661,"name":"custom_data_type_column_model","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["test","number"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:53:18 GMT
recorded_with: VCR 2.1.1
