---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="y3ZuAZi5k1QTaqk0Mzsoy6ITMASTDZV3QsCc29hoQ",
        oauth_signature="8%2BFMYTprOJG8lWUWNMFF0OuB%2Fok%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783807", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"d2807d8545e8566350edecf4e80b7fde"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4592,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:36:08+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:36:47 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="7AEpIvZ82Zlvjo1M4DLxMQtmN7Hu67BFxjF6Z3Ekw",
        oauth_signature="hm2F01dF%2B9QYXt%2BHmG2p9nNR9IM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783807", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:36:47 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="sZ6gn8wCWnx8HtyluZh0pWjsP2pCYSrFtMxEaa1LzEw",
        oauth_signature="sjrhjw1K1QRWcFV39kUdYk%2BplMA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783807", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4593
      Etag:
      - ! '"7facf78596612d067707cf8a8c9c4624"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4593,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:36:48 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="K8PH2DWFmzE13XPvINu82PubnKOf5UoHoy33vcwGXkE",
        oauth_signature="avuC88qr%2BfXlUnIXCzyME7x01ug%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783808", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:36:48 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="8KrGT0qdzz2yNSxOlhV9AZHgkCSDIMMWUvCQ2mwU",
        oauth_signature="9Xt38bkE9b9qXz%2FFe4%2FAv%2B6OYpk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783810", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 14:36:51
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 14:36:51 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.08,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":"Losail
        circuit","description":"The fabulous Losail International Circuit lies on
        the outskirts of Doha, the capital city of Qatar. Built in little over a year,
        the track cost $58 million USD and required round-the-clock dedication from
        almost 1,000 workers in order to get it ready for the inaugural event - the
        Marlboro Grand Prix of Qatar on the 2nd October 2004.","created_at":"2012-05-23T16:36:51.078Z","updated_at":"2012-05-23T16:36:51.078Z","the_geom":"0101000020E6100000C1C9367007BA494005FA449E247D3940","the_geom_webmercator":"0101000020110F0000408B6E3C84D95541DF11F60B32664641","length":"5380m","width":"12m","longest_straight":"1068m","left_corners":6,"right_corners":10,"constructed":"2004-01-01T00:00:00.000Z","modified":"2004-01-01T00:00:00.000Z"}]}'
  recorded_at: Wed, 23 May 2012 14:36:51 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="vKe94APs2WIcYJp5yE3Yc70psahhAQVakP0zdlXHp0",
        oauth_signature="fOjAqIG%2BO%2B9XoNiUYpb9R9hFkDI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783819", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"5400ae7699899161a070d8a0ac4b7ebd"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4593,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:36:59 GMT
recorded_with: VCR 2.1.1
