---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="mZmr7VloOUmaDWMtUn1Wp4bGZrDO9xdzqpSVqtGMjYs",
        oauth_signature="Ix7xfxjzFjMsojYZiJby7mvdDCU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783722", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"93c972421be29fa8dbfedd8f47d53c0f"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4590,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:34:35+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:35:22 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="EeANrzhmzFyNcb3GxIbh3JzLsLcwsGQ0RLcPkP4MnY",
        oauth_signature="QxeIaVO9kMHpcaMLmX6IuyTV6kk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783722", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:35:23 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="n4FP5Jb7cxerx3uT7Nyt4MWW3OJD3HjOUMVjhq1E",
        oauth_signature="%2BIHGEKPp0VUSj%2B4teO8WNJ1VdCQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783723", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4591
      Etag:
      - ! '"751045f4ce76e70cc3ea17e2efd387ca"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4591,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:35:25 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="5WolqmRY7qz2P5iTbaIIGFUeTPxtl7HmPh5ZVJHt2rI",
        oauth_signature="ovwqA7kr%2BB9TQLHibYXg8CsBPIA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783725", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:35:25 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="5CX9BDxpFh41uD7drbGiCymYRzxp9dfWoFQZ8pDoo8",
        oauth_signature="DMjRMexgKRh%2FFkxPTVVjOd7uDoA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783728", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 14:35:28
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 14:35:28 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.047,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":"circuit
        #1","description":"awesome circuit #1","created_at":"2012-05-23T16:35:28.189Z","updated_at":"2012-05-23T16:35:28.189Z","the_geom":"0101000020E6100000C1C9367007BA494005FA449E247D3940","the_geom_webmercator":"0101000020110F0000408B6E3C84D95541DF11F60B32664641","length":"5380m","width":"12m","longest_straight":"1068m","left_corners":6,"right_corners":10,"constructed":"2004-01-01T00:00:00.000Z","modified":"2004-01-01T00:00:00.000Z"}]}'
  recorded_at: Wed, 23 May 2012 14:35:28 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="U2kFMZKRkMQTf1OTFu9D6SY0yFPmLTXnr1qbvk9k7w",
        oauth_signature="A5FTZCBsPrCf3epxT%2BBpVmk726k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783765", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 14:36:05
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 14:36:05 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.002,"total_rows":1,"rows":[{"count":20}]}'
  recorded_at: Wed, 23 May 2012 14:36:05 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="7GWMSDd7AueZY2Y3QFVU1kr5IElBSkGqD72D3vWWGPE",
        oauth_signature="lRhuLb7fad9mbId7BVvweYOtkcM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783766", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 14:36:06
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 14:36:06 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.003,"total_rows":1,"rows":[{"count":21}]}'
  recorded_at: Wed, 23 May 2012 14:36:06 GMT
recorded_with: VCR 2.1.1
