---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="wIGExyzRARumsCVUYTuDB08EjN61Gr321Bcgq6KM",
        oauth_signature="aZM5o83%2F6BYano74uAtYqndIqV8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783674", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"f7b5e83062529879675f72677038d882"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":2,"tables":[{"id":4589,"name":"custom_data_type_column_model","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["test","number"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:34:33+02:00","rows_counted":0},{"id":4588,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:34:24+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:34:34 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/custom_data_type_column_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="UDeCxMtJ3hABrKxqIVYOJq3O3p88PfEm53EBt3ixIQ",
        oauth_signature="Jivy90X%2BRNYotHYjSjI%2Fd1hFnEE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783674", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:34:35 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="wk5hNvH3eofGcG4gsnREREN98OEB3do5qTMYHQpo",
        oauth_signature="HwcjZKGNRCMapNX3AAuqYV1mvIg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783675", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:34:35 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="suLJEIXRFBDOVU3Qt1zgebhi83naVgZIcgC2OObZ70",
        oauth_signature="KLnuz6wGqaFB%2F4wSKPV7i9SIL3Y%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783675", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4590
      Etag:
      - ! '"4ccfebcecb7be8d712419ecc7fbe41b1"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4590,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:34:36 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="sokhgnKzwUK4qoQS8uDn27psSIDt8fAHEMBJcPwQg",
        oauth_signature="1FCJb2LOayB2bgjazrnQ3Bcjhq8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783676", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:34:36 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="0lnW9yktXVHQAmPSm46AQc4TgVcdDOPslUXWqd79RY",
        oauth_signature="ccsjhQlRel4WTS%2Bc1K9uk3QBo0U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783679", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 14:34:39
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 14:34:39 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.123,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":"circuit
        #1","description":"awesome circuit #1","created_at":"2012-05-23T16:34:39.201Z","updated_at":"2012-05-23T16:34:39.201Z","the_geom":"0101000020E6100000C1C9367007BA494005FA449E247D3940","the_geom_webmercator":"0101000020110F0000408B6E3C84D95541DF11F60B32664641","length":"5380m","width":"12m","longest_straight":"1068m","left_corners":6,"right_corners":10,"constructed":"2004-01-01T00:00:00.000Z","modified":"2004-01-01T00:00:00.000Z"}]}'
  recorded_at: Wed, 23 May 2012 14:34:39 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="T5rI6bvSuyou4WZDlV6eeOOOvq7LXX88YJG7zcJO3EM",
        oauth_signature="hoaegoVVuG02gIMZPFuj8IImOXA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783721", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"425a96f242946a9f7a61975a63895acb"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4590,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:35:21 GMT
recorded_with: VCR 2.1.1
