---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="jOPTOu0MRub3CukkQz0pzT07DIsseTvLytRCgCEZE",
        oauth_signature="ZxQJiGwc0CIDZJTpo7tPkW5MWNo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783884", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"c3b8c09e8ba6bd85a104fc739c917f10"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4594,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:37:00+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:38:04 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="nwzMbLSWRvy6v0Ea5iprc9kjrYZKtNeD3OOCiHqUQtI",
        oauth_signature="%2FuE1rWiFmvvmXK9yWukTY970%2Fgk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783884", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:38:04 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="BudoUg7ByUISfR43Wz20MX8srKrLs0RGTMAWXTCvE",
        oauth_signature="fFk%2BUgU5aF03HCtRAbNxxQkee08%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783884", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4595
      Etag:
      - ! '"e2521dbed0b150a73bd71ca0a316159a"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4595,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:38:05 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="3QHEPnTHjRQ6Q0fgCrCzEJoRj73jAj8w9wTNEebdqaY",
        oauth_signature="rrIwUr%2BwwpEJGOgPGSpdOPJJKhg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783885", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:38:06 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="vNKIRYabl5mD5vjM9l4ceQPLRRRxya9pQetMURilRM",
        oauth_signature="uA4aj%2FB%2BwK4wBMcMXiynNsw0zzA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783888", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 14:38:08
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 14:38:08 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.072,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":"circuit
        #1","description":"awesome circuit #1","created_at":"2012-05-23T16:38:08.694Z","updated_at":"2012-05-23T16:38:08.694Z","the_geom":"0101000020E6100000C1C9367007BA494005FA449E247D3940","the_geom_webmercator":"0101000020110F0000408B6E3C84D95541DF11F60B32664641","length":"5380m","width":"12m","longest_straight":"1068m","left_corners":6,"right_corners":10,"constructed":"2004-01-01T00:00:00.000Z","modified":"2004-01-01T00:00:00.000Z"}]}'
  recorded_at: Wed, 23 May 2012 14:38:08 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="sG3gUYN4fYlnWVTi75CwUXYkKJRMmCskiuaoUOftc",
        oauth_signature="M%2B%2BLvjep9Pvyi8t5Fq%2F1S2PYmy4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783927", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"a48f244a87e4ddf92f011b859b553ec8"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4595,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:38:47 GMT
recorded_with: VCR 2.1.1
