---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="M4OYheu8en6kJlbB5CobROTTIaOl7A1Eiw23OqUvc",
        oauth_signature="EvmlKvzeGMKm9HIPNj5KcN%2FkVXA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783767", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"645247a9136e004495a773b2784c5823"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4591,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:35:24+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:36:07 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="6ev8cX39QBAUgVmErRQ4hOOfUk7OsialROAhP48hqA",
        oauth_signature="1GnPXytrgGaOQEmdw8Yo%2Ba2Q9bM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783767", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:36:08 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="7qzaFN0KB8UDoTpGqyRJVeSBWVdzRvShBVRcqRHYQ0",
        oauth_signature="kbuu3o97HZlAPZpH5h06eKKOVnQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783768", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4592
      Etag:
      - ! '"bc1d0ac6c5970528fbffa89b9552f9f3"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4592,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:36:09 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="JR7MFQy6jad5mRnDccARlBma7W6oADFMu3PpYwlnGkA",
        oauth_signature="kVR%2B%2FNBV2Fg5IMM0ttwEIihPsMo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783769", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:36:09 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="vHk4UNh00B4Kxqfo9udqm3NA9Na5lTyvA70c6dZo",
        oauth_signature="l8Qz18V5IWBWWjl3zp8cirhM0Ns%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783771", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 14:36:11
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 14:36:11 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.054,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":"circuit
        #1","description":"awesome circuit #1","created_at":"2012-05-23T16:36:11.247Z","updated_at":"2012-05-23T16:36:11.247Z","the_geom":"0101000020E6100000C1C9367007BA494005FA449E247D3940","the_geom_webmercator":"0101000020110F0000408B6E3C84D95541DF11F60B32664641","length":"5380m","width":"12m","longest_straight":"1068m","left_corners":6,"right_corners":10,"constructed":"2004-01-01T00:00:00.000Z","modified":"2004-01-01T00:00:00.000Z"}]}'
  recorded_at: Wed, 23 May 2012 14:36:11 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/records/1?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="ERBWGM5NPiBof8Uvm7lYkJcf0uRQxaoJoURwYK8mE",
        oauth_signature="AMERTUp4Pyi4d8RqCLjgbpm7JTU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783805", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"17bfc5ed97043049dc3b139cdb83af92"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"cartodb_id":1,"constructed":"2004-01-01T00:00:00+01:00","description":"awesome
        circuit #1","left_corners":"6.0","length":"5380m","longest_straight":"1068m","modified":"2004-01-01T00:00:00+01:00","name":"circuit
        #1","right_corners":"10.0","width":"12m","created_at":"2012-05-23T16:36:11+02:00","updated_at":"2012-05-23T16:36:11+02:00","the_geom":"{\"type\":\"Point\",\"coordinates\":[51.453352,25.48884]}"}'
  recorded_at: Wed, 23 May 2012 14:36:45 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="ovDzDISkxPzKCdI366u4LI36MjQz5hAxlJdQpi7K3w",
        oauth_signature="oxdDsFOodteUtn5J39bButrUVGU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783806", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"b40d437a04164e463ae3dc33b889d965"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4592,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:36:46 GMT
recorded_with: VCR 2.1.1
