---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="Bz6MUNMx9bb4P8Ou84gYbNVlCzF11GJt7LFxaAc04",
        oauth_signature="xNc%2BWgVmfrSHmwY5mYdW7XfzoBI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783819", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"e2271bcf2ce25d2996a31dbbc84af2b2"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4593,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:36:47+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:36:59 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="twX4fFR5dGdwGJILO7ldzxYb5kfA8JqJmiuVwZVoud4",
        oauth_signature="wTxwTUrEtf5FoJ2uA5QzAt20jy0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783819", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:37:00 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="Kan9UbaapY5sTqDUpm5nz1ZpguWd12vc1KOKLTagasc",
        oauth_signature="dapImZfbhFyq5QN%2FY5sL%2FPAPYKo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783820", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4594
      Etag:
      - ! '"972d64b7f7c47e44218079177559f0aa"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4594,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:37:01 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="neSZrkUjZ4AKdcVJtkNDY19w1Hza29F5WNFV2RVIYJw",
        oauth_signature="IfI0x1JQnC6ol4vZNqumLAU90GE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783821", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:37:01 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="0FZApHfbQVzzfL5WQOSF5uJrwQ8MaDQ5LcOvKXFHQ",
        oauth_signature="LauESJQlCVcCBynzbgqJzK%2FZc%2BQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783825", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 14:37:06
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 14:37:06 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.149,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":"circuit
        #1","description":"awesome circuit #1","created_at":"2012-05-23T16:37:05.954Z","updated_at":"2012-05-23T16:37:05.954Z","the_geom":"0101000020E6100000C1C9367007BA494005FA449E247D3940","the_geom_webmercator":"0101000020110F0000408B6E3C84D95541DF11F60B32664641","length":"5380m","width":"12m","longest_straight":"1068m","left_corners":6,"right_corners":10,"constructed":"2004-01-01T00:00:00.000Z","modified":"2004-01-01T00:00:00.000Z"}]}'
  recorded_at: Wed, 23 May 2012 14:37:06 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="hVbI3XQS9CzEPk1e0mkgVboRs5Fi443QYUFghFjgEk",
        oauth_signature="ObmNBJpwns7QSpfMzG3BR4KvtVw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783882", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"c4fd18bb3ed551e2a482d0896c6ef0f1"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4594,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:38:02 GMT
recorded_with: VCR 2.1.1
