---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="iyNCKt41aRkf4pR3VjunUd9oOQxrStr1XRkOvSXon8",
        oauth_signature="uBPf%2FsXD4vXu4%2F3xVHIUo7%2Be1r8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783928", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"aa15e8723a6e2b8b4c915804d534df14"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4595,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T16:38:04+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 14:38:48 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="kwY4fhbRVCWs6v3yJHlgeFkh1wMqcxYYA9KqvVJ3w",
        oauth_signature="T58nBdOYQp7asXQ8sezNZdK2nLE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783928", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:38:48 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="jNPbz2svwzqwQbHN1l7lEJ4Bk1s6iOTjuUHIifuI",
        oauth_signature="M9ujUR6VdHcHc4FO0ShMsIr8er0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783929", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4596
      Etag:
      - ! '"0bcf5e833ee42b3b5e1bd6ddf6d363c3"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4596,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:38:50 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="YPoicOXPG5Che1cylVFTnXIxviHUv173gPtfvaM",
        oauth_signature="Uxl08VcCXH2V1UjhoB3stf4XXec%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783930", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:38:50 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/sql
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="hcBmomM2UUEgHw4Un6REkS2kxCb8XjDhF56TglpNa1U",
        oauth_signature="ITTTajYhHDwlEIUUp5KNb6noMiI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783932", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - inline; filename=cartodb-query.json; modification-date="Wed, 23 May 2012 14:38:52
        GMT";
      Last-Modified:
      - Wed, 23 May 2012 14:38:52 GMT
    body:
      encoding: ASCII-8BIT
      string: ! '{"time":0.096,"total_rows":1,"rows":[{"id":1,"cartodb_id":1,"name":"circuit
        #1","description":"awesome circuit #1","created_at":"2012-05-23T16:38:52.421Z","updated_at":"2012-05-23T16:38:52.421Z","the_geom":"0101000020E6100000C1C9367007BA494005FA449E247D3940","the_geom_webmercator":"0101000020110F0000408B6E3C84D95541DF11F60B32664641","length":"5380m","width":"12m","longest_straight":"1068m","left_corners":6,"right_corners":10,"constructed":"2004-01-01T00:00:00.000Z","modified":"2004-01-01T00:00:00.000Z"}]}'
  recorded_at: Wed, 23 May 2012 14:38:52 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="shuvja4i6aVOAZ2fjg4o1JSYBItE5dnez9RN8pgVk0",
        oauth_signature="GAJfYPWzBtQOC%2FuBCsRu7A1%2Fm8U%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783978", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"db19e7dea92cb6f0edc8a2b883d3a56e"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4596,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["constructed","date"],["description","string"],["left_corners","number"],["length","string"],["longest_straight","string"],["modified","date"],["name","string"],["right_corners","number"],["width","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:39:38 GMT
recorded_with: VCR 2.1.1
