---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="k35DT9SX4okVDafCNuTdKwVuUg8oI78A4KX7Fw6osSU",
        oauth_signature="I0e3CCKAOoee1LpYCa8Hb%2BYfBVk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337788122", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 15:48:43 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="d8gYhiXIZlnKOj3NlRw1nenMLUQHIk6Wb6IgiG4Y",
        oauth_signature="%2FHc5QduUCoYyzk5QfMrkN9L2klM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337788123", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4722
      Etag:
      - ! '"676c1a7b9eb47005dfe97486b41181e1"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4722,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:48:43 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="zxVmtC1Eic3HGg0sCi1qi4QtXVDDs9XolCgJVIWfyS0",
        oauth_signature="efP9lYnQ3BCGaOcVg0crpswcHpc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337788123", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"4d195e1a29fadf77a4a87e6c4ef43bad"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4722,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:48:43 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="0lyAv6kbPvnuGKDrPMUtTNCfUsPt0q6yGkURNmz0",
        oauth_signature="du7%2FqA0iEYJqOBbcGP4nFUcRmAw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337788124", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 15:48:44 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/custom_data_type_column_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="LRG9UH5W0rxOQSMS2BpGnz47C67DpMyfcvN0kiMo",
        oauth_signature="E12PM9ZwdMWLb2tdRGAcAGlYto0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337788127", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 15:48:47 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/custom_data_type_column_model/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="6vZpiyvtX4JMncJk49O2WtoZ87WIsNt1NrZWDFJ6lg",
        oauth_signature="FdSIXyTJaW7lfzzt3UHOjvZ6s9Q%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337788128", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"97bad60fe46d77e880d0a9e6ad8f4e1e"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"test","type":"integer","cartodb_type":"number"}'
  recorded_at: Wed, 23 May 2012 15:48:48 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/polygon_geometry_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="APT6aeKabFLzGRzqSCPEErVsoYXEh8T9W1LTEwJDLNw",
        oauth_signature="BRLVQrfT1c%2BB%2Fg4yvxX6raqDbKQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337788128", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 15:48:49 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/polygon_geometry_model/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="9EQ8WY7E9YI5P10Chd08iEdBBDiNmC6yFVW67E9T5o",
        oauth_signature="DQkLnuWvc6qmTJ0uYR7ewysoD18%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337788129", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"56a7e49f6a0951dec13c5225e0f54580"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"test","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 15:48:50 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/polygon_geometry_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="lo9bzLjexocZLbKiPk3jw4X1Y411P9XlPzUNC0k6fo",
        oauth_signature="Yq0eHloSYnDuWByN55DoF4zDp3o%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337788130", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"c7bab496b322ef5b3c72a573e7cd4de4"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4724,"name":"polygon_geometry_model","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","multipolygon"],["description","string"],["name","string"],["test","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 15:48:50 GMT
recorded_with: VCR 2.1.1
