---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="rSPMMb1xK4V0ysL6EWoEL4AJhVQLFUq7RmZ2bEWoco",
        oauth_signature="hsgcaMjPPr%2FbpQIXNI8hwNQ2BGE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783663", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:34:24 GMT
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="KpigdcMISgB3RS5Yd9j9VMnQ5rnfHB7TtbXPvqdg8c",
        oauth_signature="61DXbXo3ZJz7wzundXEK3ygfRT8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783664", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Location:
      - /tables/4588
      Etag:
      - ! '"343503506e4fcc8f2474235c938452d7"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4588,"name":"moto_gp_circuit","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:34:25 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="1gksMeF0QFRbhNZolD8tJkd6ljXwbjqOdBP6mwl7wDQ",
        oauth_signature="QxHWtuFKHla7YcANHjq5Wrrcg2s%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783665", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"23adf6583b893cbf75441102110938cc"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4588,"name":"moto_gp_circuit","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:34:25 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/moto_gp_circuit/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="x0ahBMZ5vEkkx0FPzvIlZXYWMGNeZXDM9Pag1SpRk",
        oauth_signature="F%2BUPqewbiN4pqerhyvg4%2FyGF8%2Fc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783666", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1d8ec3575e09ff60ecad35605669b22c"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"length","type":"text","cartodb_type":"string"}'
  recorded_at: Wed, 23 May 2012 14:34:26 GMT
[...]
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/custom_data_type_column_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="yJU4T3VXibYogAhJFh8X98OI6qyRYb6W3WG5yACkyIc",
        oauth_signature="zq6xMcYK9aWWWM4%2FCZsNsbg2bKI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783673", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 14:34:33 GMT
[...]
- request:
    method: post
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/custom_data_type_column_model/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="VAzLzhALnfHtsNUmxp2MmXUgxlmanck7Uf29yEK28",
        oauth_signature="hCEn%2BxOq%2BpAtxWiWxNS8o5fnICQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783673", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"97bad60fe46d77e880d0a9e6ad8f4e1e"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"name":"test","type":"integer","cartodb_type":"number"}'
  recorded_at: Wed, 23 May 2012 14:34:34 GMT
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/custom_data_type_column_model?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="7tceGovsVhP7wj7WDyCy6Q45IDSpgbWZ0tG7V7DUaI",
        oauth_signature="L9%2FrUv%2BTR10Ltu5jFMhH6ge9gCM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337783674", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"b8551162dc494387cfcd11de753aa88b"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"id":4589,"name":"custom_data_type_column_model","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","point"],["description","string"],["name","string"],["test","number"],["created_at","date"],["updated_at","date"]]}'
  recorded_at: Wed, 23 May 2012 14:34:34 GMT
recorded_with: VCR 2.1.1
