---
http_interactions:
- request:
    method: get
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="UVyIbVWtjXQbMNgQPZk4jfcXuHLuMmpslcyK2j4A",
        oauth_signature="OAjI0pLqb5pF7KFUkbj0VINcSKc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787578", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"134bc7a87b06f25f431443d12b2bf3a4"'
    body:
      encoding: ASCII-8BIT
      string: ! '{"total_entries":1,"tables":[{"id":4717,"name":"table_1","privacy":"PUBLIC","tags":"","schema":[["cartodb_id","number"],["the_geom","geometry","geometry","multipolygon"],["description","string"],["name","string"],["created_at","date"],["updated_at","date"]],"updated_at":"2012-05-23T17:39:21+02:00","rows_counted":0}]}'
  recorded_at: Wed, 23 May 2012 15:39:38 GMT
- request:
    method: delete
    uri: https://cartodb-rb-client.cartodb.com/api/v1/tables/table_1?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="0gRpcgKQK8bpcvSzM5ED4NqaSbNQ8ivS4q0pVdJF", oauth_nonce="7fMCdYDTS20kpBmtXUubwkBwbyrarTfKxwMcrK1QJXc",
        oauth_signature="DPVaQEZm1EWnrlC%2FsTc%2Fwip149A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1337787578", oauth_token="7PalByYmKY8Dzh76fnt05e0YPXRJino0dyqHZYCw",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: ! ' '
  recorded_at: Wed, 23 May 2012 15:39:39 GMT
recorded_with: VCR 2.1.1
